@model MvcMusicStore.Models.Order

@{
    ViewBag.Title = "Address And Payment";
}

<!-- Include jQuery and validation scripts -->
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.5.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.0/jquery.validate.unobtrusive.min.js"></script>

<h2>Address And Payment</h2>
<form asp-action="AddressAndPayment" method="post">
    <fieldset>
        <legend>Shipping Information</legend>
        <div class="form-group">
            @* Replace this with individual field editors for better control *@
            @Html.EditorForModel()
        </div>
    </fieldset>
    <fieldset>
        <legend>Payment</legend>
        <p>
            We're running a promotion: all music is free
            with the promo code: "FREE"
        </p>
        <div class="editor-label">
            @Html.Label("Promo Code")
        </div>
        <div class="editor-field">
            @Html.TextBox("PromoCode")
        </div>
    </fieldset>
    <button type="submit" class="btn btn-primary">Submit Order</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
